.homeSlide .box {
    margin-top: 80px;
    padding: 40px 40px 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: white;
    /* Ensures text is readable on the image */
    position: relative;
}

.homeSlide .text-container {
    background-color: rgba(0, 0, 0, 0.5);
    /* Adds a semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    /* Ensures the background only covers the content */
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 20px 0 20px 0;
}

.homeSlide p {
    margin: 20px 0;
}